body
{
	background-color: #030457;

}
.bod
{
	border-right: 65px #7364E8 solid;
	border-left: 65px #7364E8 solid;
	border-bottom: 65px #7364E8 solid;
	padding: 0 250px 70px 250px;
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	width: 58%;

}
.forms
{	

	font-size: 20px;
	margin: auto;
	border:1px rgb(255,255,255) solid ;
	width: 25%;
	padding: 100px 100px 100px 100px;
}
#submit
{
	padding: 15px 12px 15px 12px;
	border-radius: 20px;
	font-size: 25px;
	background-color: #E38109;

}
input
{
	margin: auto;
	padding: 4px 55px 4px 20px;
}